<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <header>
          <a href="/">Home</a>|<span>Projects<span>|<a href="/contact">Contact</a>
        </header>
        <main>
          <h1> Here is some cool stuff I have done</h1>
          <ul>
            <li><img src="~/Images/ninja_gold.jpeg">Ninja Gold----<span>A simple game where you click to make gold from various locations.  It was my first type using type "hidden" for an input field.</span></li>
            <li><img src="~/Images/blackjack.jpeg">Console blackjack Game----<span>A blackjack game that can be played in your console!</span></li>
            <li><img src="~/Images/todo.png">Agreement Keeper----<span>A todo app designed to help you stay accountible to yourself a groups of people.</span></li>
          </ul>
        </main>
    </body>
</html>